# Android
build/
app/build/
.gradle/
local.properties
*.apk
*.aab

# IDE
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iml

# Web
node_modules/
.DS_Store
